.dataStock {
    display:flex;

}
.dataStock > ul {
    margin-right: 4.2%;
    list-style:none;
    

}
.dataStock > ul > li {
    margin-bottom: 3%;
    padding:5px;
    
}
.dataStock > ul > li:hover {
    border:1px solid gold;
    cursor:pointer;
    
}