.app_page{
  display:flex;
  background:url("./images/home_image.jpg");
  
  height: 100vh;
}
.app_page_login{
  background:url("./images/home_image.jpg");
  height:100vh;
  display: flex;
}
.app_page_questionnaire{
  background:black ;
  height:150vh;
  display: flex;

  padding-left:15%;
}

#homeImage {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.3;
  z-index: 0;
}

.finance_page{
  display: flex;
  background-color: black;
  
}
.finance_page_advanced{
  display: flex;
  background-color:black;
}


.basic_Sidebar{
  color:black !important;
}
